

{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stories</title>
</head>
<body>
    {% block h1 %}
    <h1> YOUR STORY</h1>
  {% endblock %}
  
  {% block content %}
    <p>{{first_story}} {{second_story}} {{third_story}}</p>
  {% endblock %}
    <!-- <p>place: <strong>{{place}}</strong></p>
    <p>noun: <strong>{{noun}}</strong></p>
    <p>verb: <strong>{{verb}}</strong></p>
    <p>plural_noun: <strong>{{plural_noun}}</strong></p> -->
</body>
</html>